<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <title>{% block title %}Home{% endblock %} - Udacity Plus</title>
    {% block head %}	
    {% endblock %}    
</head>

<body>
<div class="content"><div class="main-title"><h1>Udacity Plus</h1></div>{% block content %}
<script type="text/javascript">
$(document).ready(function(){
    jQuery("a#show-screenshot").click(function(event){
        event.preventDefault();
    jQuery("a#show-screenshot").hide();
        jQuery("div#image-hider").show();
    jQuery("a#hide-screenshot").show();
    });    
    jQuery("a#hide-screenshot").click(function(event){
        event.preventDefault();
    jQuery("a#hide-screenshot").hide();
        jQuery("div#image-hider").hide();
    jQuery("a#show-screenshot").show();
    });    
});
</script>
<h3>What is Udacity Plus?</h3>
<p>Good question, Neo.<br/>
Udacity Plus is a third party userscript that provides extra functionality for the <a href="http://en.wikipedia.org/wiki/Massive_open_online_course" title="Massive Open Online Course">MOOC</a> website <a href="http://www.udacity.com">Udacity</a>.</p>

<h3>What kind of extra functionality?</h3>
<p>Currently it offers an article link at the top of the page where you can read student articles.</p>
<p>It also creates extra buttons on the Udacity forums to allow you to upvote specific questions and answers to nominate them to article status.</p>
<p><a id="show-screenshot" href="">Click to show screenshots</a><a id="hide-screenshot" href="">Click to hide screenshots</a>.</p>
<div id="image-hider"><p>Screenshot #1:<br/><img src="static/udacity_plus_screenshot.png" width="620" height="440"><br/>This image shows the article overlay.
Articles will be dynamically produced based on community upvotes.</p><hr/>
<p>Screenshot #2:<br/><img src="static/udacity_plus_screenshot2.png" width="620" height="352"><br/>
This image shows the U+ upvote button which the script adds to the forums.</p><hr/>
<p>Screenshot #3:<br/><img src="static/udacity_plus_screenshot3.png" width="620" height="354"><br/>
This image shows the clicked upvote button. Upvotes are collated and form the basis of the articles shown users.</div>

<h3>That's it?</h3>
<p>Well, it's the future that's interesting. There will be extra tabs with bonus material for select lecture videos. And hopefully a space to take your own notes.</p>

<h3>Fine, let me try it</h3>
<p>You'll need Firefox with the GreaseMonkey extension, or Chrome with the Tampermonkey extension. Click the green button to install.</p>
<div id='install_script'><a href="/static/udacityplus.user.js" title="Install Udacity Plus" class="install_button">Install</a></div>

<h3>Why does your site look so terrible? Even blind people hate it!</h3>
<p>Because I have the design skills of a dead start-nosed mole and I write HTML/CSS in a text editor to boot. If you think you can do better and/or you want to help, flick me an email: darksentinel@gmail.com</p>

<h3>Planned/potential features:</h3>
<ul>
    <li>(Customisable) quick links at the top of the page. Will probably link to pages in the Udacity Wiki. Examples:</li>
    <ul>
        <li>Student projects (sites/apps created by Udacians)</li>
        <li>HOWTOs</li>
        <li>Articles</li>
        <li>Hot topics</li>
    </ul>
    <li>Extra tabs for class videos:</li>
    <ul>
        <li>Supplementary material</li>
        <li>Discussions</li>
        <li>Space to take notes</li>
    </ul>
    <li>Integration with other projects</li>
</ul>

<p>&nbsp;</p>
{% endblock %}
</div>
</body>

</html>
